<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
  {{>navbar}}
   
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                           <img src="images/2ffca05a7c41f3eab258c9f8ae9a8009-removebg-preview.png" alt="thapa" class="img-fluid" title="Ajay">
                        </figure>                         
               </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My Website</p>
                        <h1>I Am A<span class="text_clr"> Web Developer</span> And This Is My <span class="text_clr">Weather</span> Website</h1>
                         <a href="/"><button>About Me</button> </a>
                    </div>
                    
    </div>
     </div>
    </div>
    </div>
    {{>footer}}
</body>
</html>